.reciver-amount {
  padding: 5px 8px;
  background-color: #d4edda;
  border-radius: 12px;
}
.dashboard {
  background-color: #333333;
}

.dashboard h1, h2, h3 {
   color: #fff;
}

.dark-text {
  color: #000 !important;
}

.dashboard-option {
  position: relative;
  background: #28a745;
  height: 50px;
  width: 50px;
  border-radius: 12px;
}
.dashboard-option svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard-options {
  color: #fff;
}