* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.layout {
  max-width: 1024px;
  margin: 0 auto;
}

ul > li {
  list-style: none;
  margin-top: 0.5rem;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  height: 100%;
}

.send {
  margin-top: 30px;
}